http://makina.moe:5173 {
    reverse_proxy frontend:5173
}

http://api.makina.moe:8001 {
    handle_path /api/* {
        reverse_proxy backend:8001
    }
}
    
http://img.makina.moe:8002 {
    handle_path /images/* {
        root * /srv
        file_server
    }

}
