
{$FRONTEND_URL} {
        reverse_proxy {$FRONTEND_CONTAINER_URL}
}

{$BACKEND_URL} {
        handle_path /api/* {
                reverse_proxy {$BACKEND_CONTAINER_URL}
        }
}

{$IMAGE_URL} {
        handle_path /images/* {
                root * /srv
                file_server
        }
}
